"User-Agent" header not added to request by context option via file_get_contents

When using file_get_contents to fetch data via an HTTP url, specifying the "user_agent" HTTP context parameter as follows:

$context_params = array('http' => array('method' => 'GET', 'user_agent' => 'Mozilla/5.0 - Some Android User Agent', 'timeout' => 1));
$res = file_get_contents($url, FALSE, stream_context_create($context_params));   

doesn't seem to set the user agent in the outgoing request.

The official documentation at http://www.php.net/manual/en/context.http.php lists it as a valid option although after further investigation, I've noticed the following lines in hphp/runtime/base/file/http_stream_wrapper.cpp have a mistake:

if (opts.exists("user_agent") && !headers.exists("User-Agent")) {
        headers.set("User_Agent", opts["user_agent"]);

The "User_Agent" header should be replaced with "User-Agent" as per what is stated in section 14.43 of RFC 2616.
