HHI defines DateTime formatting constants incorrectly

The formatting constants for the class \DateTime are defined as int, they should be strings.

``` php
var_dump(DateTime::ATOM);
var_dump(DateTime::COOKIE);
var_dump(DateTime::ISO8601);
var_dump(DateTime::RFC822);
var_dump(DateTime::RFC850);
var_dump(DateTime::RFC1036);
var_dump(DateTime::RFC1123);
var_dump(DateTime::RFC2822);
var_dump(DateTime::RFC3339);
var_dump(DateTime::RSS);
var_dump(DateTime::W3C);
```

produces

```
string(13) "Y-m-d\TH:i:sP"
string(16) "l, d-M-y H:i:s T"
string(13) "Y-m-d\TH:i:sO"
string(16) "D, d M y H:i:s O"
string(16) "l, d-M-y H:i:s T"
string(16) "D, d M y H:i:s O"
string(16) "D, d M Y H:i:s O"
string(16) "D, d M Y H:i:s O"
string(13) "Y-m-d\TH:i:sP"
string(16) "D, d M Y H:i:s O"
string(13) "Y-m-d\TH:i:sP"
```

hhi file (.../stdlib/builtins_datetime.idl.hhi) defines them as:

``` php
class DateTime {
  const ATOM = 0;
  const COOKIE = 0;
  const ISO8601 = 0;
  const RFC822 = 0;
  const RFC850 = 0;
  const RFC1036 = 0;
  const RFC1123 = 0;
  const RFC2822 = 0;
  const RFC3339 = 0;
  const RSS = 0;
  const W3C = 0;
```
